body{
  background-color: #222831;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NavBar Styles */
#nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  padding: 0px 50px;
  color:#EEEEEE;
  background-color: #393E46;
}

#user-detail-name{
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

#nav-menu > div:last-of-type{
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-link{
  color: #EEEEEE;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.nav-link:hover{
  color: #00ADB5;
}


/* Home Styles */

#home{
  display: flex;
  padding: 20px;
  margin-top: 50px;
}

#home > div:first-of-type{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img{
  width: 250px;
  border-radius: 50%;
}

#user-detail-intro{
  color: #EEEEEE;
  font-weight: bold;
  font-size: 20px;
}
.acc{
  color: #00ADB5;
}

/* Media Queries */

@media only screen and (max-width: 700px) {
  .nav-link{
    display: none;
  }
  #home{
    flex-direction: column;
    align-items: center;
  }
}